<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Matomo Tools{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'dashboard/images/matomo.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="{% static 'dashboard/css/styles.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <nav class="nav">
        <div class="nav-container">
            <div class="nav-brand">
                <img src="{% static 'dashboard/images/matomo.svg' %}" alt="Matomo Logo" class="matomo-logo">
                <a href="{% url 'index' %}" class="nav-title">Matomo Tools</a>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    {% block extra_scripts %}{% endblock %}
</body>
</html>
